# Node.js
logs
*.log
npm-debug.log*
.tsbuildinfo
##
lib/
coverage/
node_modules/
# I use yarn
package-lock.json
# but, these are used to build docker image
!servers/*/package-lock.json

# Vagrant
.vagrant/
