# editor settings
.idea/
.vscode/

# dot files
.*ignore
.*rc
.editorconfig
.tsbuildinfo
.gitkeep

# repository commons
LICENSE
CHANGELOG.md
*.log

# project directory
lib/
coverage/

# Node.js
package-lock.json

# Vagrant
Vagrantfile
.vagrant/

# Docker
Dockerfile

# extension
## PlantUML
*.puml

# template file
*.*.mustache
