# editor settings
.idea/
.vscode/

# dot files
.*ignore
.*rc
.editorconfig
.tsbuildinfo
.gitkeep

# repository commons
LICENSE
CHANGELOG.md

# project directory
lib/
coverage/

# Vagrant
Vagrantfile
.vagrant/

# extension
## PlantUML
*.puml

# template file
*.*.mustache
